<div class="h-1/2 grid bg-slate-900 px-8 lg:px-20 py-10 lg:py-24 text-white">
    <h1 class="text-center text-2xl mb-5 lg:mb-10">Welcome to NextTech Blog</h1>
    <p class="text-center">
        Let us come together and celebrate our shared passion for technology through this exciting endeavor.
        I am confident that this platform will foster a sense of community and empower individuals to connect,
        learn, and grow within the tech industry.
    </p>
    
</div>

<div class="grid">
    <img src="/img/question.png" alt="question yourself" class="justify-self-center">
</div>

<!-- Latest Post -->
<section class="px-8 lg:px-20 pt-5 lg:pt-10">
    <h2 class="mb-4 lg:mb-8">Latest Post</h2>

    <ul class="hover:animate-bounce mb-4 lg:mb-8">
        <% if (recentPost) { %>
        <li class="">
            <a class="md:flex grid justify-between transition-transform transform hover:scale-105" href="/post/<%= recentPost._id %>">
                <span class="text-2xl"><%= recentPost.title %></span>
                <span class="text-gray-500"><%= recentPost.createdAt.toDateString() %></span>
            </a>
        </li>
        <% } else { %>
        <p>No latest post found</p>
        <% } %>
    </ul>
    
</section>

<!-- Other Posts -->
<div class="container mx-auto px-8 lg:px-20 py-10 lg:py-24">
    <h2 class="mb-4 lg:mb-8">Other Posts</h2>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10">
        <% data.forEach(post => { %>
        <div class="blog-post"> 
            <h2 class="text-2xl font-bold mb-2"><%= post.title %></h2>
            <p class="text-gray-500 mb-2">Posted on <%= post.createdAt.toDateString() %> by <%= post.createdBy %></p>
            <p class="line-clamp-3 break-all mb-2"><%= post.body %></p>
            <a href="/post/<%= post._id %>" class="text-blue-500 hover:underline">Read more</a>
        </div>
        <% }) %>
    </div>
</div>